body {
	background-color: rgb(0,57,102);
	background-image: url("../img/background.jpeg");
	background-repeat: repeat-x;
	color: #fff;
	font-size: 18px;
}
.main-navbar {
	background-color: #084B8A;
	color: white;
}

.main-navbar .navbar-nav .nav-link {
	border-color: rgba(255,255,255,.5);
	border-style: solid;
	border-width: 0 1px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
}

/*.main-navbar .navbar-nav > a:hover, .navbar-default .navbar-nav > li > a:focus {*/
	/*background-color: rgb(240,255,255,0.5);*/
/*}*/

.navbar-nav.shift a {
	position:relative;
	z-index: 1;
}
.navbar-nav.shift a:hover {
	color: #ffffff;
}
.navbar-nav.shift a:after {
	background-color: rgba(54, 97, 192, .5);
	bottom: 0;
	color: transparent;
	content: '.';
	display: block;
	height: 1px;
	left: 0;
	margin: auto;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	visibility: none;
	width: 100%;
	z-index: -1;
}
.navbar-nav.shift a:hover:after {
	height: 100%;
	opacity: 1;
	visibility: visible;
}

nav a,
nav a:after,
nav a:before {
	transition: all .5s;
}

.mobile-menu { color:white; }

.container {
	background-color: rgba(9,9,9,0.3);
	height: 100%;
}

.section {
	margin: 0 auto;
	width: 85%;
}

.inf-container { margin: 50px auto; }

.carousel{
	margin: 0 auto;
	width: 50%;
}
.carousel-control-prev { left: -85px; }
.carousel-control-next { right: -85px; }
.carousel-item img { width:400px; }

.registration {
	background: #084B8A;
	margin-bottom: 50px;
	padding: 35px 15px;
	text-align: center;
}
.reg-form {
	margin: 20px auto 0 auto;
	width: 100%;
}
.reg-frame{
	width: 100%;
}

@media (min-width: 451px) {
	.reg-frame{
		height: 1100px;
	}
}

@media (max-width: 450px) {
	.reg-frame{
		height: 1240px;
	}
}

.reg-btn {
	font-size: 20px;
	font-weight: bold;
	height: 60px;
	width: 220px;
}

.fact {
	border-bottom: 1px solid #138496;
	border-top: 1px solid #138496;
	margin: 80px auto;
	padding: 20px 0;
	text-align: center;
	width: 85%;
}
.fact-icon {
	margin-right: 15px;
	width: 12%;
}
.fact-text {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width:80%;
}

.menu-icon{
	margin-right: 10px;
}

#map {
	height: 400px;
	margin: 0 auto 50px auto;
	width: 84.5%;
}

footer {
	background-image: url("../img/footer-bg.png");
	height: 400px;
}